[submodule "public"]
	path = public
	url = https://github.com/nannxnann/nannxnann.github.io.git
	branch = master
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
